// @import "~bootstrap/scss/bootstrap";



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

li{
    list-style-type: none;
    color: black;
}
a{
    text-decoration: none;
}

main{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

    .container-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 70%;
            nav{
                ul{
                    display: flex;
                    flex-direction: row;
                        li{
                            margin: 0 1rem;
                            padding: 3rem 0;
                            text-transform: uppercase;
                        };
                };
            };
    }
}

section.container-jumbo{
    width: 100%;
    height: 300px;
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

        div{
            background-color: #0282f9;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 268px;
            left: 170px;
            p{
                text-transform: uppercase;
                color: white;
                font-size: 1.5rem
            };
        }
}


section.list-products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 90%;
    justify-content: center;

    div{
            background-color: #0062be;
            padding: .8rem 5rem;
            margin-bottom: 1rem;
            align-self: center;
            p{
                text-transform: uppercase;
                color: white;
            };
        };
};

article.books{
    width: calc((100% / 6) - .5rem);
    margin-right: .5rem;
    margin-bottom: 3rem;

    img{
        width: 100%;
        margin-bottom: .7rem;

    };
    p{
        color: white;
    }
}

footer{
    color: white;
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

        div:nth-child(1){
            display: flex;;
            section{
                div:nth-child(1){
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                };
            };
            h2{
                margin-bottom: 1rem;
                text-transform: uppercase;
            };
            ul{
                padding: 1rem 0;
            }
            li{
                margin-bottom: .3rem;
            }
        };

        .container-links{
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            width: 80%;
            background-image: url(../img/dc-logo-bg.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: auto;
            div{
                display: flex;
                flex-wrap: wrap;
                margin-left: 5rem;
                height: 350px;
                ul{
                    margin-right: 1rem;
                    li{
                        a{
                            color: #7f847f;
                        };
                    };
                };
            };
        };
            .footerShop,
            .footerPartOne,
            .footerPartTwo,
            .footerPartThree{
                li{
                    a{
                        color: white;
                    }
                }
            }
};

.socials{
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
};

section.containerSocials{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    padding: 2rem 0;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
};
.social{
    h3{
        text-transform: uppercase;
        color: #0282f9;
    };
    ul{
        display: flex;
        flex-direction: row;
        li{
            padding-left: 1rem;
        };
    };
}


